/*  Nada Style */
h1 {
	text-decoration: none;
	border:none;
}
h3 {
	text-decoration: none;
	border:none;
}

#nada-payment-main-transaction, #nada-result {
	margin:5px;
	clear:both;
}

#nada-payment-header {
	margin:5px;
	display:inline;
	float:left;
}

#nada-header{
	margin:5px;
}
	
.nada-summary {
	float: right;
	overflow: hidden;
	width: 340px;
	height: 90px;
	margin: 5px;
	background-color:#E4E4E4;
	border: 1px solid #CCCCCC;
	padding: 3px;
}

.nada-summary td, #nada-result td{
	background-color:transparent;
	font-size:90%;
}

#nada-tbinput td{
	background-color:transparent;
	font-size:90%;
	padding: 3px;
}

.information, .error, .warning{
	padding: 5px;
	font-style:italic;
	font-size:90%;
	display:inline;
	float:left;
}

.information{
	background-color:#C9F9FF;
	border: 1px solid #29A9BA;
}

.error{
	background-color:#F7F6E9;
	border: 1px solid #CC2233;
}

.warning{
	background-color:#FFF1AF;
	border: 1px solid #EFCC2C;
}