
.message-info, .message-success, .message-warning, .message-error, .message-validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.message-info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('icon/Info.ico');
}
.message-success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('icon/Success.ico');
}
.message-warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('icon/Warning.ico');
}
.message-error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('icon/Error.ico');
}

