#app-menu {
	background:url(../../../image/icon/document-stamp.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}
#rej-menu {
	background:url(../../../image/icon/document--exclamation.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}
#dil-menu {
	background:url(../../../image/icon/document-sticky-note.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}
#dil5-menu {
	background:url(../../../image/icon/document-sticky-note.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}

#tmp-menu {
	background:url(../../../image/icon/document--pencil.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}

#pro-menu {
	background:url(../../../image/icon/document-bookmark.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}
#all-menu{
	background:url(../../../image/icon/documents.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
}
#navigator-right{
	background:url(../../../image/icon/navigation-000-button.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
	cursor:pointer;
}
#navigator-left{
	background:url(../../../image/icon/navigation-180-button.png) no-repeat;
	background-position:center left ;	
	padding-left:20px;
	cursor:pointer;
}

#notaris-main-menu {
	width : 180px;
	margin-top: -1px;
	float:left;
	display:block;
}
#notaris-main-menu a {
	text-decoration:none;
	color:#666;	vertical-align:middle;
}
#notaris-main-menu a:active {
	background-color:#fdcf87;
	color:#494949;
}
#notaris-main-menu #selected {
	background-color:#fdcf87;
	color:#494949;
}
#notaris-main-menu li:hover {
	background-color:#fdcf87;
	color:#494949;
}
#notaris-main-menu li {
	background-color:#fef1dd;
	height:22px;
	list-style:none;
	overflow:hidden;
	margin-left:-20px;
	padding-left:5px;
	padding-top:3px;
	margin-top:1px;
}

#notaris-main-content {
	background-color:#fdcf87;
	padding:5px 5px 5px 5px;
	overflow:hidden;
}
#notaris-main-content-inner {
	background-color:#fff;
	padding:5px 5px 5px 5px;
}
#notaris-main-content-footer {
	background-color:#ffebcc;
	height:20px;
	padding:5px 5px 5px 5px;
}
.tdheader {
	text-align:center;
	font-weight:bold;
	background-color:#2c917f;
	color:#fff;
}
.tdbody1 {
	background-color:#fbfbfb;
}
.tdbody2 {
	background-color:#e5eeec;
}
.tdbodyNew {
	background-color:#fffcd4;
}