#msg-claim {
	border:#F90 thin solid;
	display:block;
	padding:8 8 8 18;
	width:400px;
	background:url(../../../image/icon/warning.gif) no-repeat #FC9;
	background-position:center left ;
}
#main-content {
	background-color:#ffc975;
	width:900px;
}
.msg-info{
	border:#F90 thin solid;
	display:block;
	padding:8 8 8 18;
	width:754px;
	background:url(../../../image/icon/warning.gif) no-repeat #FC9;
	background-position:center left ;
}